@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap");

body {
  background-image: url("/img/fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Navbar */

nav {
  transition: 0.3s;
}

.navbar-toggler {
  background-color: white;
  padding: 6px;
  border-radius: 15px;
  color: #cc97b3;
  margin-right: 15px;
}

.navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
  color: #d18e98;
}

.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #d18e98 !important;
  font-size: 1rem !important;
}

/* Main Container */

.main-container {
  height: 100vh;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title {
  font-size: 13vh;
  color: #d13f5f;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  text-shadow: 6px 10px 5px rgba(0, 0, 0, 0.32);
  letter-spacing: 15px;
}

.subtitle {
  padding-top: 4%;
  font-size: 30px;
  color: #746c6c;
  font-family: "Lobster Two", cursive;
}

.main-container .button {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding: 1%;
}

/* About Container */

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.about-text {
  background-color: white;
  width: 50vw;
  margin: 0 auto;
  padding: 2%;
}

.about-text h4 {
  letter-spacing: 2px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

.about-text h2 {
  font-family: "Lobster Two", cursive;
  color: #746c6c;
  padding: 2%;
}

.about-text h3 {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  padding: 2%;
}

.about-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  padding: 3%;
  width: 50vw;
}

.about-cards .card {
  width: 15rem;
  height: 20rem;
  border-radius: 5px;
  border-color: white;
  background-size: cover;
  box-shadow: 3px 5px 5px rgba(245, 251, 255, 0.8);
}

.about-cards .card .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5e8f0;
  font-family: "Lobster Two", cursive;
  font-size: 50px;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.5s;
}

.about-cards .card:hover .content {
  opacity: 1;
}

/* Swiper */

.swiper {
  width: 80%;
  height: 100%;
  user-select: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleproductos {
  font-family: "Lobster Two", cursive;
  font-size: 30px;
  color: #d13f5f;
}

.indexcard-title {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

:root {
  --swiper-theme-color: #d13f5f !important;
}

/* WorkShop */

.workshop p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.workshop-bg {
  background-image: url("/img/workshop.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 50%;
}
.workshop-text h3 {
  font-family: "Lobster Two", cursive;
  font-size: 25px;
  padding-top: 2%;
}

.workshop-text h4 {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  padding: 5%;
}

.workshop-border {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
  border-style: solid;
  border-color: #f6d0db;
}
.workshop-text {
  width: 50%;
  text-align: center;
  padding-top: 5%;
}

/* Productos */

.carrito {
  border-radius: 15px;
  border: 1px solid #0000001a;
  width: 38px;
  height: 38px;
  margin: 0 15px 0 auto;
  background-color: white;
}

#carritoDetails h2 {
  font-size: 20px;
  text-align: center;
}

#carritoDetails {
  width: 500px;
  position: fixed;
  top: 60px;
  right: 0px;
  z-index: 9999;
}

#carritoDetails .card-body {
  padding: 25px;
}

.containercarrito {
  margin-top: 5%;
}

.titulocarrito {
  font-family: "Lobster Two", cursive;
  font-size: 30px;
  color: #d18e98;
}

.container-cards {
  height: auto;
  background-color: white;
}

#items .btn {
  margin: 0 auto;
}

.card-body {
  padding: 0;
}
#store {
  width: 75%;
}
#store .img-fluid {
  width: auto;
  height: 80%;
}

.card-title {
  justify-content: center;
  display: flex;
  padding-top: 5%;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}
.card-text {
  justify-content: center;
  display: flex;
  padding-top: 5%;
}

#store .card {
  background-color: transparent;
  border: none;
}

.card-body {
  margin-bottom: 50px;
}

/* Footer */

.footer {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
}

footer h4 {
  color: #d13f5f;
}

#contact {
  background-color: white;
  width: 50%;
  padding: 5%;
  gap: 5%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.autor {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  width: 20%;
}

/* Buttons */

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
  background: #d18e98;
  color: #ffffff;
  border-color: #d18e98;
}

.btn-outline {
  color: #d18e98;
  border-color: #d18e98;
  font-weight: bold;
  border-radius: 0;
}
#boton-vaciar {
  width: 25%;
  align-self: center;
}

.swal2-styled.swal2-confirm {
  background-color: #cc97b3;
}

/* ----Media Queries------ */

@media screen and (max-width: 1200px) {
  body {
    background-position: center;
  }

  nav {
    background: #fff;
  }

  /* Main Container */

  .main-container {
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .title {
    text-align: center;
    font-size: 15vw;
  }

  .subtitle {
    font-size: 5vw;
    padding-bottom: 5%;
  }

  .main-container .button {
    padding-top: 10%;
  }

  .linea {
    display: none;
  }

  /* About Container */
  .about-section {
    width: 100%;
    display: flex;
    padding-bottom: 30%;
  }
  .about-text {
    margin: 0 auto;
    padding: 5%;
    width: 80%;
  }
  .about-text h4 {
    font-size: 0.7em;
  }
  .about-text h2 {
    font-size: 1.5em;
  }
  .about-text h3 {
    font-size: 1em;
  }

  .about-cards {
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding-top: 10%;
  }

  /* WorkShop */
  .workshop-border {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .workshop-text {
    width: 100%;
    padding: 2%;
  }

  .workshop-bg {
    width: 100%;
  }

  /* Swiper */
  .imgslide button {
    font-size: 3vh;
  }

  /* Productos */
  .containercarrito {
    margin-top: 20%;
    padding-left: 0;
    padding-right: 0;
  }

  .container-cards {
    width: 100%;
  }

  #items {
    padding: 0;
    gap: 0;
  }

  #store {
    width: 100%;
  }
  #carritoDetails {
    width: 420px;
    position: fixed;
    top: 60px;
    right: 0px;
    z-index: 9999;
  }

  /* Footer */

  footer {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
  }

  footer h4 {
    color: #d13f5f;
    font-size: 25px;
  }

  #contact {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .autor {
    font-size: 13px;
    width: 50%;
  }
}
